.earth {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
}

.continents, .display-subregions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: .75em;
}

.hidden {
    display: none;
}

.earth-text, .continent-name, .subregion-name, .p-name {
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
}

.p-code {
    font-weight: normal;
    font-size: .75em;
}

.p-flag {
    height: 4.5em;
}

.PBA-continent {
    width: 275px;
}

.one-back {
    text-decoration: none;
}
